resources/xml/xsd/spdx-license.xsd

<?xml version="1.0"?>
<xs:schema xmlns="spdx:xsd::1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spd="spdx:xsd::1.0/ref" xmlns:exsl="http://exslt.org/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="spdx:xsd::1.0" version="1">
  <xs:complexType name="LicenseType">
    <xs:annotation>
      <xs:documentation>A data type for License type</xs:documentation>
      <xs:appinfo>
        <spd:Class name="License" comment="A License represents a copyright license. The SPDX license list website is annotated with these properties (using RDFa) to allow license data published there to be easily processed. The license list is populated in accordance with the License List fields guidelines. These guidelines are not normative and may change over time. SPDX tooling should not rely on values in the license list conforming to the current guidelines." rdf="http://spdx.org/rdf/terms#License"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="IsDeprecatedLicenseId" minOccurs="0"/>
      <xs:element ref="StandardLicenseHeader" minOccurs="0"/>
      <xs:element ref="StandardLicenseTemplate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="LicenseText" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="IsOsiApproved" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="IsFsfLibre" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="LicenseId" minOccurs="0"/>
      <xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="SeeAlso" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="Comment" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PropertyIndicatorSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for the boolean indication of a property existence. True if known. False if not or not known.</xs:documentation>
      <xs:appinfo>
        <spd:SimpleType name="Property Indicator" mapvar="propertyIndicator"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="CommentType">
    <xs:annotation>
      <xs:documentation>A data type for Comment</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="Comment" comment="" rdf="http://www.w3.org/2000/01/rdf-schema#comment"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IsDeprecatedLicenseIdType">
    <xs:annotation>
      <xs:documentation>A data type that indicates if the license id is Deprecated.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="IsDeprecatedLicenseIdType" comment="Indicates if the license is is Deprecated." rdf="http://spdx.org/rdf/terms#isDeprecatedLicenseId" domain="License" range="Boolean"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="PropertyIndicatorSimpleType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IsFsfLibreType">
    <xs:annotation>
      <xs:documentation>A data type to indicate if the license is is FSF Libre.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="IsFsfLibre" comment="Indicates if the license is is FSF Libre." rdf="http://spdx.org/rdf/terms#isFsfLibre" domain="License" range="Boolean"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="PropertyIndicatorSimpleType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IsOsiApprovedType">
    <xs:annotation>
      <xs:documentation>A data type for Indicates if the OSI has approved the license.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="IsOsiApproved" comment="Indicates if the OSI has approved the license." rdf="http://spdx.org/rdf/terms#isOsiApproved" domain="License" range="Boolean"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="PropertyIndicatorSimpleType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LicenseIdType">
    <xs:annotation>
      <xs:documentation>A data type for A human readable short form license identifier for a license. The license ID is iether on the standard license oist or the form "LicenseRef-"[idString] where [idString] is a unique string containing letters, numbers, ".", "-" or "+".</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="LicenseId" comment="A human readable short form license identifier for a license. The license ID is iether on the standard license oist or the form &quot;LicenseRef-&quot;[idString] where [idString] is a unique string containing letters, numbers, &quot;.&quot;, &quot;-&quot; or &quot;+&quot;." rdf="http://spdx.org/rdf/terms#licenseId" domain="SimpleLicensingInfo" range="String"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LicenseTextType">
    <xs:annotation>
      <xs:documentation>A data type for Full text of the license.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="LicenseText" comment="Full text of the license." rdf="http://spdx.org/rdf/terms#licenseText" domain="License" range="String"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:annotation>
      <xs:documentation>A data type for The full human readable name of the item. This should include version information when applicable.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="Name" comment="The full human readable name of the item. This should include version information when applicable." rdf="http://spdx.org/rdf/terms#name" domain="SpdxElement" range="String"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SeeAlsoType">
    <xs:annotation>
      <xs:documentation>A data type for rdfs:seeAlso is an instance of rdf:Property that is used to indicate a resource that might provide additional information about the subject resource.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="SeeAlso" comment="rdfs:seeAlso is an instance of rdf:Property that is used to indicate a resource that might provide additional information about the subject resource." rdf="http://www.w3.org/2000/01/rdf-schema#seeAlso"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StandardLicenseHeaderType">
    <xs:annotation>
      <xs:documentation>A data type for License author's preferred text to indicated that a file is covered by the license.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="StandardLicenseHeader" comment="License author's preferred text to indicated that a file is covered by the license." rdf="http://spdx.org/rdf/terms#standardLicenseHeader" domain="License" range="String"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StandardLicenseTemplateType">
    <xs:annotation>
      <xs:documentation>A data type for License template which describes sections of the license which can be varied. See License Template section of the specification for format information.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="StandardLicenseTemplate" comment="License template which describes sections of the license which can be varied. See License Template section of the specification for format information." rdf="http://spdx.org/rdf/terms#standardLicenseTemplate" domain="License" range="String"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Comment" type="CommentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for Comment</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="Comment" comment="" rdf="http://www.w3.org/2000/01/rdf-schema#comment"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsDeprecatedLicenseId" type="IsDeprecatedLicenseIdType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data item that indicates if the license id is Deprecated.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="IsDeprecatedLicenseId" comment="Indicates if the license id is Deprecated." rdf="http://spdx.org/rdf/terms#isDeprecatedLicenseId" domain="License" range="Boolean"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsFsfLibre" type="IsFsfLibreType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data item to indicate if the license is FSF Libre.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="IsFsfLibre" comment="Indicates if the license is is FSF Libre." rdf="http://spdx.org/rdf/terms#isFsfLibre" domain="License" range="Boolean"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="IsOsiApproved" type="IsOsiApprovedType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for Indicates if the OSI has approved the license.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="IsOsiApproved" comment="Indicates if the OSI has approved the license." rdf="http://spdx.org/rdf/terms#isOsiApproved" domain="License" range="Boolean"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="License" type="LicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for License type</xs:documentation>
      <xs:appinfo>
        <spd:Class name="License" comment="A License represents a copyright license. The SPDX license list website is annotated with these properties (using RDFa) to allow license data published there to be easily processed. The license list is populated in accordance with the License List fields guidelines. These guidelines are not normative and may change over time. SPDX tooling should not rely on values in the license list conforming to the current guidelines." rdf="http://spdx.org/rdf/terms#License"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="LicenseId" type="LicenseIdType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for A human readable short form license identifier for a license. The license ID is iether on the standard license oist or the form "LicenseRef-"[idString] where [idString] is a unique string containing letters, numbers, ".", "-" or "+".</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="LicenseId" comment="A human readable short form license identifier for a license. The license ID is iether on the standard license oist or the form &quot;LicenseRef-&quot;[idString] where [idString] is a unique string containing letters, numbers, &quot;.&quot;, &quot;-&quot; or &quot;+&quot;." rdf="http://spdx.org/rdf/terms#licenseId" domain="SimpleLicensingInfo" range="String"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="LicenseText" type="LicenseTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for Full text of the license.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="LicenseText" comment="Full text of the license." rdf="http://spdx.org/rdf/terms#licenseText" domain="License" range="String"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="NameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for The full human readable name of the item. This should include version information when applicable.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="Name" comment="The full human readable name of the item. This should include version information when applicable." rdf="http://spdx.org/rdf/terms#name" domain="SpdxElement" range="String"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="SeeAlso" type="SeeAlsoType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for rdfs:seeAlso is an instance of rdf:Property that is used to indicate a resource that might provide additional information about the subject resource.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="SeeAlso" comment="rdfs:seeAlso is an instance of rdf:Property that is used to indicate a resource that might provide additional information about the subject resource." rdf="http://www.w3.org/2000/01/rdf-schema#seeAlso"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="StandardLicenseHeader" type="StandardLicenseHeaderType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for License author's preferred text to indicated that a file is covered by the license.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="StandardLicenseHeader" comment="License author's preferred text to indicated that a file is covered by the license." rdf="http://spdx.org/rdf/terms#standardLicenseHeader" domain="License" range="String"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="StandardLicenseTemplate" type="StandardLicenseTemplateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for License template which describes sections of the license which can be varied. See License Template section of the specification for format information.</xs:documentation>
      <xs:appinfo>
        <spd:Datatype name="StandardLicenseTemplate" comment="License template which describes sections of the license which can be varied. See License Template section of the specification for format information." rdf="http://spdx.org/rdf/terms#standardLicenseTemplate" domain="License" range="String"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
</xs:schema>
